body {
    margin: 0;
    padding: 60px;
    font-family: Arial, sans-serif;
    background-image:'back1.jpg';
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align:center;
    margin-bottom: 60px;
}

.section {
    margin-bottom: 60px;
}
#left-sec{

}

.section h2 {
    margin-bottom:20px;
}

.section p {
    margin-bottom: 20px;
}

/* Typing animation */
.css-typing p {
    border-right: .15em solid rgb(0, 0, 0);
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;

  }
  .css-typing p:nth-child(1) {
    font-size: 40px;
    width: 10.4em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  

  
    @keyframes type {
        0% {
        width: 0;
        }
        99.9% {
        border-right: .15em solid orange;
        }
        100% {
        border: none;
        }
    }
    
    @-webkit-keyframes type {
        0% {
        width: 0;
        }
        99.9% {
        border-right: .15em solid orange;
        }
        100% {
        border: none;
        }
    }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
 